*.suo
*.user
*.ncb
*.sdf
.DS_Store
MinimTouch/build/*
!MinimTouch/build/Release-iphoneos/libMinimTouch.a
obj/
libsndfile/bin/*.exe
ipch/
libsndfile/unins000*
*xcuserdata/
*.pbxuser
*.perspectivev3
*.mode1v3
project.xcworkspace/
